# Allow up/down autocompletion of commands from bash history.
# From: coderwall.com/p/oqtj8w
"\e[A": history-search-backward
"\e[B": history-search-forward

set show-all-if-ambiguous on
set completion-ignore-case on

# Uncomment to enable vi-like command line editing mode.
set editing-mode vi
set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e[2 q\2"
set vi-ins-mode-string "\1\e[6 q\2"

set bell-style none

"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[5~": beginning-of-history
"\e[6~": end-of-history
"\e[3~": delete-char
"\e[2~": quoted-insert

"\e[1;5D": backward-word
"\e[1;5C": forward-word

