[colors]
bg = #2e3440
fg = #e5e9f0

# polar night
pn-darker = #3b4252
pn-light = #4c566a

# snow storm
sn-dark = #d8dee9
sn-light = #eceff4

# frost
f-mint = #8fbcbb
f-bright = #88c0d0
f-washed = #81a1c1
f-dark = #5e81ac

# aurora
a-green = #a3be8c
a-magenta = #b48ead
a-orange = #d08770
a-red = #bf616a

[bar/mainbar]
monitor = ${env:MONITOR}
width = 100%
height = 20
background = ${colors.bg}
foreground = ${colors.fg}
font-0 = FiraCode Nerd Font:style=Bold:size=10;1
separator = "|"
separator-foreground = ${colors.pn-light}
modules-left = ewmh xwindow
modules-center =
modules-right = volume wlan memory cpu battery date time
tray-position = right
tray-scale = 0.8

[module/xwindow]
type = internal/xwindow
label = " %title:0:100:...%"

[module/ewmh]
type = internal/xworkspaces
label-active = " %icon% %name% "
label-active-background = ${colors.f-bright}
label-active-foreground = ${colors.pn-darker}
label-occupied = " %icon% %name% "
label-occupied-background = ${colors.pn-light}
label-urgent = " %icon% %name% "
label-urgent-background = ${colors.a-orange}
label-urgent-foreground = ${colors.win-urgent-fg}
label-empty = ""
label-empty-foreground = ${colors.foreground}
enable-scroll = false

icon-0 = 1;
icon-1 = 2;
icon-2 = 3;
icon-3 = 4;
icon-4 = 5;
icon-5 = 6;
icon-6 = 7;ﴬ
icon-7 = 8;
icon-8 = 9;
icon-9 = 10;
icon-default = " "

[module/date]
type = internal/date
date = " %a, %b %d "
format-foreground = ${colors.a-magenta}

[module/time]
type = internal/date
date = " %I:%M %p "

[module/volume]
type = internal/pulseaudio

format-volume-prefix = " 墳"
format-volume-prefix-foreground = ${colors.a-green}
format-volume = <label-volume>

; label-volume = "%percentage:2%% "

label-muted = " 婢 "
label-muted-foreground = ${colors.a-red}

master-soundcard = default
speaker-soundcard = default
headphone-soundcard = default
label-volume = " %percentage:2%% "
label-volume-foreground = ${colors.f-mint}

[module/network]
type = internal/network
interface = wlan0
unknown-as-up = true

label-disconnected = " not connected "
label-disconnected-foreground = ${colors.a-red}
format-disconnected = <label-disconnected>

label-connected = " %{F#a3be8c}↓ %{F#d8dee9}%downspeed:9%%{F#4c566a} | %{F#88c0d0}↑ %{F#d8dee9}%upspeed:9%%{F-} "
format-connected = <label-connected>

[module/wlan]
type = internal/network
;interface = ${env:WIRELESS}
interface = wlan0
interval = 3.0
label-connected = "%essid% "

; format-connected = <label-connected>
format-connected = <ramp-signal> <label-connected>
format-connected-foreground = ${colors.foreground}
format-connected-background = ${colors.background}
format-connected-prefix = "   "
format-connected-prefix-foreground = ${colors.primary}
format-connected-prefix-background = ${colors.background}

label-disconnected = %ifname% disconnected
label-disconnected-foreground = ${colors.alert}
label-disconnected-background = ${colors.background}

format-disconnected = <label-disconnected>
format-disconnected-foreground = ${colors.alert}
format-disconnected-background = ${colors.background}
format-disconnected-prefix = " 睊 "
format-disconnected-prefix-foreground = ${colors.alert}
format-disconnected-prefix-background = ${colors.background}

ramp-signal-0 = ▁
ramp-signal-1 = ▂
ramp-signal-2 = ▃
ramp-signal-3 = ▄
ramp-signal-4 = ▅
ramp-signal-5 = ▆
ramp-signal-6 = ▇
ramp-signal-7 = █
ramp-signal-foreground = ${colors.secondary}
ramp-signal-background = ${colors.background-alt}

[module/vpn]
type = internal/network
interface = tun0
unknown-as-up = true

label-disconnected = " vpn not connected "
label-disconnected-foreground = ${colors.a-red}
format-disconnected = <label-disconnected>

label-connected = " vpn connected "
label-connected-foreground = ${colors.a-green}
format-connected = <label-connected>

[module/memory]
type = internal/memory
interval = 2
format-prefix = "  "
format-prefix-foreground = ${colors.a-green}
label = " %percentage_used:2%% "

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = " ﬙"
format-prefix-foreground = ${colors.a-green}
label = " %percentage:2%% "

[module/battery]
type = internal/battery

; This is useful in case the battery never reports 100% charge
; Default: 100
full-at = 99

; format-low once this charge percentage is reached
; Default: 10
; New in version 3.6.0
low-at = 5

; Use the following command to list batteries and adapters:
; $ ls -1 /sys/class/power_supply/
battery = BAT0
adapter = ADP1

; If an inotify event haven't been reported in this many
; seconds, manually poll for new values.
;
; Needed as a fallback for systems that don't report events
; on sysfs/procfs.
;
; Disable polling by setting the interval to 0.
;
; Default: 5
poll-interval = 5
time-format = %H:%M

format-charging = <animation-charging> <label-charging>
format-discharging = <ramp-capacity> <label-discharging>
ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-foreground = ${colors.primary}
; Only applies if <animation-charging> is used
animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
; Framerate in milliseconds
animation-charging-framerate = 750
animation-charging-foreground = ${colors.primary}

label-charging = "  %percentage%%"
label-discharging = " %percentage%%"

format-full-prefix = " "
format-full-prefix-foreground = ${colors.primary}
label-full = " %percentage%%"

format-low = <ramp-capacity> <label-low>
label-low = " %percentage%%"
