* {
  border: none;
  border-radius: 0;
  font-family: Mononoki Nerd Font, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: #fbf1c7;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #fbf1c7;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #fbf1c7;
}

#taskbar button {
  padding: 0 5px;
  background-color: transparent;
  color: #fbf1c7;
}

#taskbar button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#taskbar button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px #fbf1c7;
}

#taskbar button.active {
  background-color: #64727d;
  box-shadow: inset 0 -3px #fbf1c7;
  color: #fbf1c7;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #fbf1c7;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #fbf1c7;
  box-shadow: inset 0 -3px #fbf1c7;
}

#workspaces button.active {
  background-color: #fbf1c7;
  color: #282828;
  box-shadow: inset 0 -3px #fbf1c7;
  border-bottom: 3px solid #d65d0e;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#submap {
  background-color: #b8bb26;
  color: #3c3836;
  padding: 0 10px;
  border-bottom: 3px solid #fbf1c7;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #fbf1c7;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  padding: 0 10px;
  color: #fbf1c7;
}

#window {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #64727d;
}

#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  /* background-color: #7c6f64; */
}

#battery {
  color: #282828;
  background-color: #a89984;
  margin-bottom: 3px;
}

#battery.charging,
#battery.plugged {
  color: #427b58;
  /* background-color: #689d6a; */
}

@keyframes blink {
  to {
    background-color: #fbf1c7;
    color: #1d2021;
  }
}

#battery.critical:not(.charging) {
  /* background-color: #9d0006; */
  color: #d90006;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#idle_inhibitor {
  background-color: #b8bb26;
  color: #3c3836;
  margin-bottom: 3px;
  min-width: 16px;
}
#idle_inhibitor.activated {
  background-color: #d65d0e;
  color: #9d0006;
}

#pulseaudio {
  background-color: #fadb2f;
  color: #3c3836;
  margin-bottom: 3px;
}

#pulseaudio.muted {
  background-color: #fadb2f;
  color: #9d0006;
}

#network {
  background-color: #83a598;
  color: #3c3836;
  margin-bottom: 3px;
}

#network.disconnected {
  background-color: #83a598;
  color: #9d0006;
  /* background-color: #cc241d; */
  /* color: #3c3836; */
}

#cpu {
  background-color: #8ec07c;
  color: #3c3836;
  margin-bottom: 3px;
  /* color: #000000; */
}

#memory {
  background-color: #d3869b;
  color: #3c3836;
  margin-bottom: 3px;
}

#temperature {
  /* background-color: #fb4934; */
  background-color: #fabd2f;
  color: #3c3836;
  margin-bottom: 3px;
}

#temperature.critical {
  background-color: #fb4934;
  color: #3c3836;
}

#disk {
  /* background-color: #964b00; */
}

#backlight {
  /* background-color: #90b1b1; */
}

#wireplumber {
  /* background-color: #fff0f5; */
  /* color: #000000; */
}

#wireplumber.muted {
  /* background-color: #f53c3c; */
}

#custom-media {
  /* background-color: #66cc99; */
  /* color: #2a5c45; */
  min-width: 100px;
}

#custom-media.custom-spotify {
  /* background-color: #66cc99; */
}

#custom-media.custom-vlc {
  /* background-color: #ffa000; */
}

#tray {
  /* background-color: #2980b9; */
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  /* background-color: #eb4d4b; */
}


#idle_inhibitor.activated {
  /* background-color: #ecf0f1; */
  /* color: #2d3436; */
}

#mpd {
  /* background-color: #66cc99; */
  /* color: #2a5c45; */
}

#mpd.disconnected {
  /* background-color: #f53c3c; */
}

#mpd.stopped {
  /* background-color: #90b1b1; */
}

#mpd.paused {
  /* background-color: #51a37a; */
}

#language {
  /* background: #00b093; */
  /* color: #740864; */
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  /* background: #97e1ad; */
  /* color: #000000; */
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  /* background: rgba(0, 0, 0, 0.2); */
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}
